@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SimpleBlog - @ViewBag.Title</title>
    @Styles.Render("~/styles")
</head>
<body>
    <header>
        <h1>
            <a href="@Url.RouteUrl("Home")">Simple Blog</a>
            <i class="glyphicon glyphicon-bell"></i>
        </h1>
        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome back, @User.Identity.Name</p>
            <a href="@Url.RouteUrl("logout")">Logout</a>
            if (User.IsInRole("admin"))
            {
                <a href="@Url.Action("index", "posts", new {area="admin"})">View Posts in admin</a>
            }
        }
        else
        {
            <a href="@Url.RouteUrl("login")">Login</a>
        }
    </header>
    <!-- insert view here -->
    @RenderBody()

    <footer>
        &copy; @DateTime.Now.Year - ABC
    </footer>

    <!-- load any scripts before the view -->
    @Scripts.Render("~/scripts")
    <!-- this allows sub views to define scripts, and the script will be run at the end of the html rendering -->
    @RenderSection("SCRIPTS", false)
</body>
</html>
